@model  List<AirelineReservationSystem.Models.Booking>

@{
    ViewData["Title"] = "Booking Page";
    var serialNo = 1;
    
}


    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="$width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
        <style>
            .active-nav {
                background-color: #5f1899;
                padding: 10px 0;
                border-radius: 5px;
                color: white;
            }

            .sideBar {
                width: 300px;
                background-color: #f0f0f0;
            }

            .shadow-sm {
                box-shadow: 10px 10px 10px 10px grey;
            }

        </style>

    </head>
    <body class="m-0 p-0">
        <div class="d-flex">
            <!-- Sidebar -->
            <div class="sideBar d-flex flex-column p-3">
                <a href="" class="text-decoration-none h2 my-2">ARS</a>
                <ul class="navbar-nav gap-3">
                    <li class="nav-item p-2">
                        <a asp-controller="Admin" asp-action="Dashboard" class="nav-link">Dashboard</a>
                    </li>

                    <li class="nav-item p-2">
                        <a class="nav-link " data-bs-toggle="collapse" data-bs-target="#extraMenu" role="button" aria-expanded="false" aria-controls="extraMenu">
                            Flights
                        </a>
                        <div class="collapse ps-3" id="extraMenu">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a asp-controller="Admin" asp-action="Flight" class="nav-link">Add Flights</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Admin" asp-action="ShowFlight" class="nav-link">Show Flights</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item p-2 active-nav">
                        <a asp-controller="Admin" asp-action="Bookings" class="nav-link">Bookings</a>
                    </li>
                    <li class="nav-item p-2">
                        <a asp-controller="Admin" asp-action="Users" class="nav-link">Users</a>
                    </li>

                    <li class="nav-item p-2"><a href="" class="nav-link">Layout</a></li>
                    <li class="nav-item p-2"><a href="" class="nav-link">Sign Out</a></li>
                </ul>
            </div>
            <!-- Main content -->
            <div class="mainContent">
                <div class="container" >

                    <table class="table" style="text-align:center">
                        <h1 class="text-center h1 p-2">BOOKING PAGE</h1>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Booking Id</th>
                                <th>UserId</th>
                                <th>FlightId</th>
                                <th>BookingDate</th>
                                <th>TotalAmount</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in Model)
{
                            <tr>
                                <td style="color:grey">@serialNo</td>
                                @{
                                    serialNo++;
                                var bookingDate = booking.BookingDate.HasValue
                    ? booking.BookingDate.Value.ToString("ddd, dd MMM yyyy h:mmtt") 
                    : "0";
                                }
                                <td>@booking.BookingId</td>
                                <td>@booking.UserId</td>
                                <td>@booking.FlightId</td>
                                <td>@bookingDate</td>
                                <td>$@booking.TotalAmount</td>
                                <td>@booking.Status</td>
                                <td>
                                    <a asp-action="EditFlight" asp-route-id="@booking.BookingId" class="btn btn-sm btn-primary">Edit</a>
                                    <a asp-action="DeleteFlight" asp-route-id="@booking.BookingId" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
}
                        </tbody>


                    </table>


                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>


